@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.7/static/pretendard.css');
@import url('https://unpkg.com/pretendard@1.3.7/dist/web/static/pretendard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		height: 100%;
		width: 100%;
	}

	html {
		font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
			'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
			'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
	}

	body {
		line-height: 1;
		user-select: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
}

@layer components {
	.layout {
		@apply max-w-[480px] w-auto min-h-full mx-auto overflow-x-hidden shadow-lg;
	}

	.custom_bullet {
		@apply inline-block w-[8px] h-[8px] mx-1 bg-[#C3C7CB] rounded-[50%] indent-[-9999px];
	}

	.custom-bullet-active {
		@apply w-[28px] bg-blue050 rounded-lg duration-300;
	}
}

.swiper-pagination {
	bottom: 15% !important;
}

.Toastify__toast {
	@apply mx-[13.33%] mb-[26.67%] min-h-[34px] rounded-[14px] p-0 bg-gray080/80 !important;
}

.Toastify__toast-body {
	@apply text-p3 text-gray000 text-center m-0 p-0 !important;
}
